# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Environment variables
.env

# Local IDE settings
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Ignore build directory
dist/

# Ignore coverage directory
coverage/
